// variables
$slide-count: 5;
$slide-width: 14rem;

.carousel--skills {
	background-color: $color-2;
	position: relative;
	z-index: 100;

	&::after {
		content: "";
		background-color: $color-2;
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: -0.6rem;
		left: 49%;
		transform: rotate(45deg);
	}
}

.carousel__wrap {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	position: relative;
	width: 70%;
	height: 12rem;

	@include media-breakpoint-down(md) {
		width: 60%;
	}
}

.carousel__inner {
	height: $slide-width;
	position: relative;
	width: calc(#{$slide-width * 5});
}

.carousel__container {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.carousel__slide-list {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	transform: translateX(-45%);
	width: calc(#{($slide-count + 0.5) * $slide-width * 2});
	animation: 40s slidy infinite linear both;

	@include media-breakpoint-down(md) {
		animation: 10s slidy infinite linear both;
	}
}

.carousel__slide-item {
	height: calc(1 *#{$slide-width});
	width: calc(0.8 *#{$slide-width});
	padding: 1rem;
	position: absolute;
	transition: all 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel__slide-item-img-link {
	display: flex;
	position: relative;
	width: 100%;

	img {
		height: 70%;
		object-fit: cover;
		transition: all 0.5s ease;
		width: 70%;
	}

	&:hover {
		&::after {
			opacity: 1;
		}

		img {
			transform: scale(1.3);
		}
	}
}

.carousel-slide-item__body {
	bottom: -2.5rem;
	height: 10%;
	position: absolute;

	h4 {
		margin: 0.7rem 0 0;
		text-transform: uppercase;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.3;
		margin: 0.7rem 0 0;
	}
}

.carousel__btn {
	align-items: center;
	background: 0;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&--prev {
		left: -3rem;
	}

	&--next {
		right: -3rem;
	}
}

.carousel__btn-arrow {
	border: solid lighten($color: $color-2, $amount: 30);
	border-width: 0 0.2rem 0.2rem 0;
	padding: 3px;
	height: 1rem;
	width: 1rem;
	z-index: 10;

	&--left {
		transform: rotate(135deg);
	}

	&--right {
		transform: rotate(-45deg);
	}
}

@keyframes slidy {
	0% {
		left: 100%;
	}
	100% {
		left: 10%;
	}
}
