@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// normalize, all global settings and variables

$font-1: 'Montserrat', sans-serif;
$font-2: 'Roboto', sans-serif;
$color-1: #0042ad;
$color-2: #2a2727;
$color-3: #5c5353;

* {
	font-size: 16px;
	font-family: $font-1;
	color: $color-2;
	box-sizing: border-box;
}

body { 
	color: $color-2;
	min-height: 100vh;
	min-width: 250px;
}

li, ol {
	list-style: none;
	list-style-type: none;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	overflow-wrap: break-word;

}

a {
  text-decoration: none;
  color: inherit;
}

// variables 

$nav-height: 3.7rem;
$padding-page: 12px;